.top{
    margin: 0 auto;
    height: 100px;
    width: 1226px;
    line-height: 100px;
}
.top-left{
    float: left;
}
.top-right{
    float: right;
}
.down{
    margin: 0 auto;
    width: 1166px;
    height: 600px;
    padding: 30px;
}
.one{
    float: left;
    height: 300px;
    width: 583px;

}